{% extends "base.html" %}


{% block title %}message{% endblock %}

{% block content %}
<div class=' text-center p-5 ' style="color:black">
        <h2 class=' .text-secondary'>Record Successfully updated!</h2>
{% for message in messages %}
  <div class="alert {{ message.tags }} alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    {{ message }}
  </div>
{% endfor %}
</div>
<p><a href="{% url 'patient_appointment' %}">Return to Patient Appointments</a></p>
{% endblock %}