{% extends "base.html" %}
{% load static %}
{% block content %}
<div class=' text-center p-5 ' style="color:black">
        <h2 class=' stye="color: white" .text-secondary'>Our Locaton Map:</h2>
        
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2947.5021111925807!2d-71.1237896499728!3d42.3744489790837!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89e3776828d1d5e5%3A0xcbdc4d74a4bc10b0!2s51+Brattle+St%2C+Cambridge%2C+MA+02138%2C+USA!5e0!3m2!1sen!2sin!4v1556994954973!5m2!1sen!2sin" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>
{% endblock %}