{% extends "base.html" %}
{% load static %}
{% block title %}Patient{% endblock %}

{% block content %}

<div class=' text-center p-5 ' style="color:black">
        <h2 class=' .text-secondary'>New Patient Registration</h2>
		
        <p style="text-align:left">Please register all new patients here. Please enter current insurance provider and preferred hospital.</p> 
		
				
</div>

   <form action="" method="post">
    {% csrf_token %}
    <table>
    {{ form.as_table }}
    </table>
    <input type="submit" value="Submit">
  </form> 
  
{% endblock %}