{% extends "base.html" %}
{% load static %}
{% block title %}Patient{% endblock %}

{% block content %}

<div class=' text-center p-5 ' style="color:black">
        <h2 class=' .text-secondary'>Patient Admission Form</h2>
		
        <p style="text-align:left">Please enter patient's admission details here. This form must be completed for all patient admissions.</p> 
		
				
</div>

   <form action="" method="post">
    {% csrf_token %}
    <table>
    {{ form.as_table }}
    </table>
    <input type="submit" value="Submit">
  </form> 
  
  {% if messages %}
  <ul class="messages">
    {% for message in messages %}
      <li class="{{ message.tags }}">{{ message }}</li>
    {% endfor %}
  </ul>
{% endif %}
  
{% endblock %}